XFPodcastPlayer/XFPodcastPlayer.Android/bin/
XFPodcastPlayer/XFPodcastPlayer.iOS/obj/
XFPodcastPlayer/XFPodcastPlayer/obj/
XFPodcastPlayer/XFPodcastPlayer.Android/obj/
MonoAndroid81/
XFPodcastPlayerTest/obj/XFPodcastPlayerTest.csproj.nuget.g.props
XFPodcastPlayerTest/obj/
XFPodcastPlayer/XFPodcastPlayer/bin/
.vs/
